<ion-app>
  <ion-menu  side="start" menuId="m1" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>
              Hostel Leave
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
          <ion-list>
            <ion-menu-toggle menu="m1" *ngFor="let p of pages">
              <ion-item lines="none" [routerLink]="p.page">
                <ion-icon [name]="p.name" slot="start" color="primary"></ion-icon>
                <ion-label>{{p.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            
            <ion-menu-toggle menu="m1">
              <ion-item lines="none" button>
                <ion-icon name="exit" slot="start" color="primary"></ion-icon>
                <ion-label (click)="logout()">Logout</ion-label>
              </ion-item>
            </ion-menu-toggle>


          </ion-list>
      </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
