<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login Admin</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">


  

  <form class="form" [formGroup]="form" (ngSubmit)="loginUser(form.value)">

    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <h1>
            Login as Admin
          </h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating" style="padding-bottom: 10px;">Email</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" color="danger"
                    *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
                    <ion-text color="danger">{{ validation.message }}</ion-text>
                  </div>
                </ng-container>
              </div>
            </ion-item>
            
        
            <ion-item>
              <ion-label position="floating" style="padding-bottom: 10px;">Password</ion-label>
              <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
            </ion-item>
        
            <ion-item lines="none">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">

                  <div class="error-message"
                    *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                    <ion-text color="danger">{{ validation.message }}</ion-text>
                  </div>

                </ng-container>
              </div>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size-sm="6" size-xs="12" offset-sm="3">
          <ion-button expand="block" class="submit-btn" type="submit" [disabled]="!form.valid">Log In</ion-button>
        </ion-col>

        <ion-col size-sm="6" size-xs="12" offset-sm="3">
          <p class="go-to-register">
            Want to login as Student? <a [routerLink]="['../../../','student','login-student']">Login</a>
          </p>
        </ion-col>

      </ion-row>

    </ion-grid>

  
  </form>


</ion-content>